*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
body main{
    background-color: #388bd8;
}
img{
    max-height: 25vh;
    margin-bottom: 10px;
}

header{
    display: flex;
    flex-direction:column;
    justify-content:space-between;


}
a{text-decoration: none;}
nav{
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 10%;
}
.navbar {
    list-style-type: none;
    overflow: hidden;
    background:#65d838;
    background: linear-gradient(176deg, #6e90ab 32%, #16d4d4 100%);


}
h1{
    margin-left: 40vw;
}
.barra {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.contenedor-gral{
    margin-left: 20px;

}
.contenedor-servicios{
    width: 80vw;
    margin-top: 10px;
    margin-left: 45px;
    padding-bottom: 20px;
    display: flex;
    justify-content:start;
    flex-wrap: wrap;

}

.cartaServicio{
    max-width: 300px;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 2px 6px 3px 3px #3130304d;
    background-color: #ffffff;
    border-radius: 10px;
}

.cartaServicio img{
    width: 100%;
    height: 200px;

}

.boton-ver{
    border:none;
    border-radius: 2px;
    width: 20vw;
    color:white;
    background-color: rgb(66, 80, 83);
    font-size: 1rem;
    text-decoration: none;

}
.cartaServicio a:hover{
    text-decoration: none;
    background-color: skyblue;
    color: slategray;
}
footer{
height: 10vh;
background: rgb(81,109,131);
background: linear-gradient(342deg, #678da9 32%, #c0caca 100%);;
}