* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(
    to bottom,
    #388bd8,
    #e7dbdb
    ),
    url("../img/londres.jpg");
    height: 120vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
main{
    height: 90vh;
}
nav {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 10%;
}
.navbar {
    list-style-type: none;
    overflow: hidden;
    background:#65d838;
    background: linear-gradient(176deg, #6e90ab 32%, #16d4d4 100%);


}
.barra {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.resCompra{
    height: 70vh;
    margin-left: 10vw;

}
#resServicio{
    background-color: #ecf0f3;
    width: 65vw;
    border-radius: 5px;
    margin-left: 10px;




}
.cartaCarr{
    padding: 20px;
    border-bottom: rgb(75, 72, 72) 1px solid;


}
.tituloRes{
    border-bottom:rgb(75, 72, 72) 1px solid ;
}
.totalRes{
    padding: 20px;
    background-color:rgb(151, 176, 204) ;
    width: 65vw;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;

}
.pagar{
    border:none;
    background-color:rgb(103, 133, 167) ;
    margin-left: 46px;
    margin-top: 10px;
    color:black;
    font-size: 1rem;
    border-radius: 2px;
    height: 4vh;
    width: 10vw;


}
#img3{
    width: 30px;
    height: 30px;
}
#ingDatos{
    border: none;
    background-color: #111();
}
.datosEncargado{
    display: none;

}
.sec-1{
    
    padding-left: 20px;
    width: 65vw;
}
.invalido{
    border:red solid 2px;
    color:red;
    background-color: lightcoral;
}

.valido{
    border: green solid 2px;
    color:green;
    background-color: lightgreen;
}
.rtaDatosIng{
    visibility: hidden;
}
.rtaDatosIngExito{
    visibility:visible;
    color: lightgreen;
}

.faltaDatos{
    visibility: hidden;
    color:lightcoral;
}
footer {
    padding: 8vh;
    max-height: 5vh;
    background: #516d83;
    background: linear-gradient(
    176deg,
    #516d83 32%,
    #b8baba 100%
    );

}